<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
</head>
<body>
  <h1>About {{companyName}}</h1>
  <p>{{companyDescription}}</p>

  <section id="about"></section>

  <script src="main.js"></script>
</body>
</html>